body {
    font-family: Arial, sans-serif;
    background-color: #1f1f1f;
    color: #ffffff;
    margin: 0;
    padding: 0;
    transition: background-color 0.3s, color 0.3s;
}

a {
    color: #4CAF50;
    transition: color 0.3s;
}

a:hover {
    color: #8cff66;
}

header {
    background-color: #333;
    color: #4CAF50;
    text-align: center;
    padding: 1rem 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

nav {
    background-color: #333;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav ul li {
    float: left;
}

nav ul li a {
    display: block;
    color: #ffffff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: background-color 0.3s;
}

nav ul li a:hover {
    background-color: #4CAF50;
}

/* Content Styles */
section {
    padding: 20px;
}

article {
    background-color: #333;
    color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s, color 0.3s, box-shadow 0.3s;
}

/* Footer Styles */
footer {
    background-color: #333;
    color: #4CAF50;
    text-align: center;
    padding: 1rem 0;
    position: fixed;
    bottom: 0;
    width: 100%;
    box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.1);
}

/* Project and Team Member Cards Styles */
.project-card,
.team-member {
    background-color: #333;
    color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s, color 0.3s, box-shadow 0.3s;
}

.project-card h3 {
    color: #4CAF50;
}

.project-card p,
.team-member p {
    font-size: 14px;
}
