body {
    font-family: Arial, sans-serif;
    background-color: #1f1f1f;
    color: #ffffff;
    margin: 0;
    padding: 0;
    transition: background-color 0.3s, color 0.3s;
}

a {
    color: #4CAF50;
    transition: color 0.3s;
}

a:hover {
    color: #8cff66;
}

header {
    background-color: #333;
    color: #4CAF50;
    text-align: center;
    padding: 0.5rem 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

nav {
    background-color: #333;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav ul li {
    float: left;
}

nav ul li a {
    display: block;
    color: #ffffff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: background-color 0.3s;
}

.nav ul li a:hover {
    background-color: #4CAF50;
}

.section {
    padding: 20px;
}

.article {
    background-color: #333;
    color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s, color 0.3s, box-shadow 0.3s;
}

footer {
    background-color: #333;
    color: #4CAF50;
    text-align: center;
    padding: 1rem 0;
    position: fixed;
    bottom: 0;
    width: 100%;
    box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.1);
}

.project-card,
.aboutMe {
    background-color: #333;
    color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s, color 0.3s, box-shadow 0.3s;
}

.project-card h3 {
    color: #4CAF50;
}

.project-card p,
.team-member p {
    font-size: 14px;
}
#bg-video{
    position:fixed; 
    left: 50%;
    top: 50%;
    bottom:auto;
    right: auto; 
    min-width: 100%;
    min-height: 100%;
    transform: translateX(-50%) translateY(-50%);
    z-index:-100;
    background-image: url(vid1.mp4);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.project-card,
.concepts
.body {
    background-color: #0c0d13;
    color: #ffffff;
    font-family: 'Arial', sans-serif;
    margin: 0;
}

.header {
    background-color: #333;
    color: #4CAF50;
    text-align: center;
    padding: 1rem 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

article {
    text-align: center;
    padding: 20px;
}

article img {
    max-width: 100%;
    height: auto;
    border: 5px solid #1a1b26;
}

footer {
    background-color: #1a1b26;
    padding: 10px;
    text-align: center;
}
.nav ul li a:hover {
    background-color: #4CAF50;
}

.project-card,
.projects
.body{
    background-color: 	#080808;
    color: #fff;
    font-family: 'Arial', sans-serif;
    margin: 0;
    word-spacing: 0cqh;
}