body {
    font-family: 'Arial', sans-serif;
    background-color: #FFFFFF;
    color: #FFFFFF;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.resume {
    background-color: #A9A8AA;
    padding: 40px;
    border-radius: 20px;
    box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.1);
    width: 80%;
    max-width: 600px;
    text-align: left;
}

.profile-image {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    margin: 0 auto 20px;
    border: 5px solid #00BFFF;
}

h1 {
    text-align: center;
    color: #00BFFF;
    margin-bottom: 20px;
    font-size: 2rem;
}

.section {
    margin-bottom: 20px;
}

h2 {
    color: #00BFFF;
    font-size: 1.5rem;
}

p {
    line-height: 1.6;
    margin: 8px 0;
}

ul {
    list-style-type: none;
    padding: 0;
}

a {
    color: #00BFFF;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
}

a:hover {
    color: #009ACD;
}
